body{background-image:url(/assets/4845746.jpg)}.texto-blanco{color:#fff}.card{width:18rem;margin-bottom:20px}.card-img-top{height:200px;object-fit:cover}.card-title{font-size:1.25rem;font-weight:700}
